/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    margin-left: 20px;
}

.star-black {
    color: black  !important;
}

.star-yellow {
    color: blue !important;
}

/* .form-control .ng-touched .ng-invalid {
    border: 2px solid red;
} */