<h1>Hello World </h1>
<courses></courses>

<br>
<br>

<!-- Isso aqui, do jeito que está abaixo não irá funcionar -->
<!-- Mesmo que esteja definido is Favorite no meu component, o console continua
retornando erro porque esse isFavorite não está como um input   
O mesmo serve para o change. O change não está como um output
Não podemos usar propriedade ou event biding aqui -->

<!-- $event é um parametro padrão do angular para saber que algo aconteceu com 
Aquele evento, Estou passando dado para cá-->
<favorite [isFavorite] = "post.isFavorite" (change) = "onFavoriteChange($event)" ></favorite>
<!-- Agora sim: -->

<br>
<br>
<!-- 

<img [src] = "imageUrl" />
<button (click) = "onClick()"></button> -->

<br>
<br>

<bootstrap-panel>
    <ng-container class="heading">Heading</ng-container>
    <div class="body">
        <h2>Body</h2>
        <p>Some content...</p>
    </div>
</bootstrap-panel>

<br>
<br>

<like [likesCount] = "tweet.likesCount" 
            [isActive] = "tweet.isLiked"></like>

            <br>
            <br>

<!-- Diretivas
Usamos diretivas para alterar o DOM -->
<div *ngIf = 'courses.length > 0; else noCourses'>
    <h1>List of courses</h1>
</div>

<!-- Uma outra forma de escrever o ngIf -->
<!-- <ng-template [ngIf] = "courses.length > 0" >
    <div>
        List of courses
    </div>
</ng-template>
<ng-template [ngIf] = "!(courses.length > 0)" >
    No courses
</ng-template> -->

<!-- Se a condição for verdadeira ele vai adicionar ou recmover o div    
mesmo os dois estando no template -->
<!-- <div *ngIf = 'courses.length == 0' >
    <h1>No courses yet</h1>
</div> -->

<!-- Uma maneira mais limpda de colocar o ngIf -->
<!-- <div *ngIf = "courses.length > 0; then coursesList else noCourses" ></div> -->
<!-- primeiro a condição; se for verdadeira, then primeira condição, se não else segunda condição -->
<!-- <ng-template #coursesList>
    List of courses
</ng-template>
<ng-template #noCourses>
    No courses yet
</ng-template> -->

<!-- Outra maneira de show/hide div -->
<!-- <div [hidden] = "courses.length == 0">
    List of courses
</div>
<div [hidden] = "courses.length > 0" >
    No courses yet
</div> -->

<br>
<br>


<!-- ngSwitchCase -->
<!-- Também para add or remotve -->
<ul class="nav nav-pills">  
    <!-- <li [class.active] = "viewMode == 'map'"><a (click) = "viewMode = 'map'" href="">Map View</a></li>
    <li [class.active] = "viewMode == 'list'"><a (click) = "viewMode = 'list'" href="">List View</a></li> -->
</ul>
<div [ngSwitch] = "viewMode">
    <!-- "" porque é o valor dessa diretiva e '' que é o valor dessa diretiva, uma string -->
    <!-- <div *ngSwitchCase = "'map'">Map View Content</div>
    <div *ngSwitchCase = "'list'">List View Content</div>
    <div *ngSwitchDefault>Otherwise</div> -->
</div>

<br>
<br>
<!-- ngFor and change detection -->
<button (click) = "onAdd()">Add</button>
<ul>
    <!-- <li *ngFor = "let course of courses; index as i; even as isEven">
        {{i}} - 
        {{course.name}} <span *ngIf = "isEven">(EVEN)</span> -->
        <!-- <button (click) = "onRemove(course)">Remove</button> -->
        <!-- <button (click) = "onChange(course)">Remove</button> -->
    <!-- </li> -->
</ul>

<br>
<br>

<button (click) = "loadCourses()">Load Courses</button>
<ul>
    <!-- fazer o angular traçar o objeto pelo id e não pela identidade -->
    <!-- <li *ngFor = "let course of courses; trackBy: trackCourse">
        {{course.name}}

    </li> -->
</ul>

<br>
<br>

<button
    [style.backgroundColor] = "canSave ? 'blue': 'gray'"
    [style.color] = "canSave ? 'white': 'black'"
    [style.fontWeight] = "canSave ? 'bold': 'normal'"
>
Save
</button>

<br>
<br>

<!-- Safe traversal Operator -->
<!-- <span *ngIf="task.assignee">{{task.assignee.name}}</span> -->
<span>{{task.assignee?.name}}</span>

<br>
<br>

<!-- é bom ter a flexibilidade para dizer a diretiva o formato que quero -->
<input type="text" [appInputFormat]="'uppercase'">

<br>
<br>

<!-- Definindo o Component API -->
<zippy title = "Shipping Details">
    Shipping Details Content
</zippy>
<zippy title = "Billing Details">
    Billing Details Content
</zippy>

<br>
<br>

<contact-form></contact-form>

